* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}
.content {

    width: 1170px;
    /* dùng để khi thi nhỏ màn hình thì các phần tử không bị dính sát lề 48px = left-24 + right-24  */
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
    
}
:root{
    --primary-color:  #FFB900;
}
/* ====== common ====== */
a{
    text-decoration: none;
}
.btn{
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
    background: #171100;
    border-radius: 24.5px;
}
.btn:hover{
    opacity: 0.9;
}

/* ====== Header ====== */
.hero-wrap{
    background: #FFFCF4;
    display: flex;
}
.navbar.fixed {
    position: fixed;
   
}
.navbar{
    z-index: 1;
    padding: 36px 0 8px;
    align-items: center;
    display: flex;
    width: 1170px;
   
}
.nav {
    /* Move to left */
    margin-left: auto;
}

.nav ul{
    display: flex;

}

.navbar .nav a{
    position: relative;
    padding: 8px 21px;
    color: #5F5B53;
    font-size: 1.6rem;
}

.nav a:hover, 
.nav li.active a{
    /* font-weight: ̉600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after{
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    flex-shrink: 0;
    border-radius: 1px;
    background: #171100;
}
.navbar .sign-up-btn{
    min-width: 144px;
}

.navbar .action{
    margin-left: 49px;
}
.navbar .sign-up-btn a{
    border-radius: 24.5px;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

/* ========== Main Header========== */
.hero-wrap .body{
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
}
.body .home-picture img{
    width: 470px;
    height: 685px;
    flex-shrink: 0;
    border-radius: 20px;
    object-fit: cover;
}
.body .home-picture {
    position: relative;
}
.body .home-picture .card{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    bottom: 48px;
    left: 300px;
    z-index: 1;
    width: 270px;
    height: 244px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.home-picture .row:first-child{
    margin-top: 0;
}
.home-picture .row{
    display: flex;
    margin-top: 14px;
}
.home-picture .row .icon img{
    width: 48px;
    height: 48px;
}
.home-picture .info{
    margin-left: 16px;
}
.home-picture .card .desc{
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.88;
}
.home-picture .card h3{
    color: #171100;

    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}
.body{
    margin-top: 64px;
}
.body .sub-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}
.body .sub-content .title{
    width: 470px;
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
}
.body .sub-content .desc {
    margin-top: 22px;
    width: 470px;
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}
.btn-group{
    margin-top: 38px;
    display: flex;
    text-align: center;
}

.btn-group .see-courses{
    margin-right: 28px;
    padding: 17px 33px;
    width: 180px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 32px;
    background: var(--primary-color);

    color: #FFF;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}
.btn-group .see-courses a{
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.btn-group .watch-video button{
    border: none;
    background:transparent;
    cursor: pointer;
}
.btn-group .watch-video img:hover{
    opacity: 0.8;
}
.qty-row{
    padding-top: 48px;
}
.qty-row .info{
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
    gap: 10px;
    padding-right: 28px;
}
.qty-row .row-num {
    padding-top: 8px;
    display: flex;
}

.qty-row >span{
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.qty-row .info .count{
   
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.23;
}
.qty-row .info .desc-count {
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
}

/* ==========Popular============ */
.popular{
    margin-top: 200px;
}
.popular .row{
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}
.popular .card-group .infor{
    padding: 16px 22px 22px 22px;
   
}
.popular .title:nth-child(1){
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
}
.popular .row .desc{
    width: 458px;
    color: #5F5B53;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.67;
}
.popular .arrow-group .arrow button{
    border: none;
    background: transparent;
    cursor: pointer;
    
}
.popular .row .arrow-group{
    max-width:98px;
    display: flex;
    justify-content: space-between;
}
.popular .card-group{
    margin-top: 55px;
    gap: 30px;
    display: flex;
}
.popular .card-group .card{
    border-radius: 12px;
}
.popular .card-group .card:hover{
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.popular .card-group .card img{
    width: 370px;
    height: 278px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
}
.popular .card-group .card .sub-title{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}
.popular .card-group .card .desc{
    width: 326px;
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height:1.86;
}
.popular .card-group .card .action{
    display: flex;
    justify-content: space-between;
}
.popular .card-group .card .action .price{
    align-content: center;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.popular .card-group .card .action .book-now{
    background: #171100;;
}
.popular .card-group .card .action .book-now:hover{
    background: var(--primary-color);
}
.popular .card-group .card .action .book-now a{
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
}
/* ======= Banner ======== */
.banner{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2E2100;
    max-width: 100%;
    height: 380px;
}
.banner .writer{
    padding-left: 135px;
}

.banner .avatar img{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}
.banner .info h3{
    padding-top: 18px;
    color: #F7F7F7;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41;
}
.banner .info span{
    padding-top: 4px;
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.banner .writer .seeMore{
    padding-top: 28px;
}

.banner .sentence{
    position: relative;
    margin-right: 135px;
    width: 740px;
    color: #FFF;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
}

.banner .sentence .double-quotation{
    position: absolute;
    top: -30px;
    left: -30px;
}

/* ========== Education-Platform ==========*/
.education-platform {
    margin-top: 200px;
}

.education-platform .platform{
    height: 438px;
    display: flex;
    justify-content: space-between;
}

.education-platform .picture img{
    width: 270px;
    height: 404px;
    border-radius: 16px;
}
.platform .picture{
    position: relative;
}
.education-platform .platform .picture .image{
    position: absolute;
}
.platform .picture .image:nth-child(1){
   bottom: 0;
}
.platform .picture .image:nth-child(2){
    top: 0;
    left: 300px;
}

.education-platform .info .title h2{
    margin-top: 58px;
    width: 470px;
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.27;
    letter-spacing: -0.76px;
}
.education-platform .info .desc {
    margin-top: 16px;
    width: 458px;
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.education-platform .info .sign-up{
    margin-top: 32px;
    width: 137px;
    height: 50px;
    background: var(--primary-color);

    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}

/* call to action */
.cta{
    display: flex;
    margin-top: 200px;
}

.cta .info{
    align-content: center;
    margin-right: 130px;
}
.cta .info .title h2{
    width: 570px;
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.cta .info .desc p{
    margin-top: 16px;
    width: 570px;
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.cta .picture img{
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
}

.cta .info .join-now{
    margin-top: 32px;
    background: var(--primary-color);

    width: 137px;
    height: 50px;

    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}
/* Blog */
.blog{
    margin-top: 200px;
    background: #FFFCF4;
}

.blog-block {
    padding-top: 96px;
}

.blog-block .body .card-group{
    margin-top: 55px;
    display: flex;
    gap: 30px;
}
.blog-block .body .card-group .card{
    width: 370px;
    height: 466px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    background: #fff;
}

.blog-block .header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog-block .header .title{
    color: #130606;
    text-align: center;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.27;
    letter-spacing: -0.76px;
}

.blog-block .header .desc{
    margin-top: 16px;
    width: 400px;
    display: inline-block;
    color: #696262;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.blog-block .body .card-group .picture img{
    width: 370px;
    height: 250px;
    border-radius: 12px 12px 0 0;

}
.blog-block .info{
    margin: 20px 0 0 20px;
}
.blog-block .info .date{
    display: flex;
    gap: 3px;
}
.blog-block .info .date .dot{
    align-items: center;
}
.blog-block .info .date .dot img{
    width: 6px;
    height: 6px;
}
.blog-block .info .date .date-text{
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}
.blog-block .info .line{
    margin-top: 12px;
    width: 160px;
    border-top: 2px solid #E2DFDA;
    border-radius: 0.5px;
}
.blog-block .info .sub-title{
    width: 330px;
    margin-top: 12px;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}
.blog-block .info .read-more{
    margin-top: 12px;
    width: 118px;
    height: 50px;
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;


}
.blog-block .info .read-more:hover{
    background: var(--primary-color);
}

.blog-block .dot-footer{
    padding-top: 38px;
    padding-bottom: 96px ;
    display: flex;
    justify-content: center;
}
/* ======= footer ======= */
.footer{
    height: 428px;
    background: #2E2100;
}

.footer-block .body-footer{
    padding-top: 96px;
    display: flex;
    justify-content: space-between;
}
.footer-block .body-footer .about .desc{
    margin-top: 18px;
    color: #BFBCB2;
    width: 267px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.footer-block .body-footer .about .social-icon{
    margin-top: 18px;
    display: flex;
    width: 111px;
    justify-content: space-between;
}
.footer-block .body-footer .about .social-icon .img{
    width: 18px;
    height: 15px;
}

.footer-block .body-footer h3{
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.footer-block .body-footer .line{
    margin-top: 14px;
    border: 1px solid #59554B;
    width: 130px;
}
.footer-block .body-footer .list ul{
    margin-top: 28px;
}

.footer-block .body-footer .list ul li{
    margin-top: 12px;
}
.footer-block .body-footer .list ul li a{
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}
.footer-block .body-footer .list ul li a:hover{
    text-decoration: underline;
}
.footer-block .body-footer .address .row{
    margin-top: 28px;
}
.footer-block .body-footer .address strong {
    font-weight: 600;
    color: #FFF;
}
.footer-block .body-footer .address p{
    margin-top: 12px;
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.footer-block .line{
    margin-top: 38px;
    border: 1px solid #59554B;
}
.footer-block .copyright{
    display: flex;
    justify-content: center;
}
.footer-block .copyright span{
    margin-top: 28px;
    color: #807D74;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}