@font-face {
    font-family: 'Sen';
    src: url('Project02/asset/fonts/Sen-Regular.woff2') format('woff2'),
        url('Project02/asset/fonts/Sen-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

